# Python venv folders
venv/
.venv/
ENV/
env/

# Gradio cache
.gradio/

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs and misc
*.log
*.DS_Store
*.swp

# Environment files
.env
